<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">{{> menu-logo }}</a>
      <button class="navbar-toggler" type="button" data-{{data.themeSettings.bootstrapToggleMiddle}}toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">

          {{#each data.menu}}
          <li class="nav-item {{#if this.showChildren}}dropdown{{/if}}">
            <a class="nav-link {{#if this.isActive}}active{{/if}} {{#if this.showChildren}}dropdown-toggle{{/if}}" href="{{this.data.url}}"
              {{#if this.showChildren}}data-{{data.themeSettings.bootstrapToggleMiddle}}toggle="dropdown" aria-haspopup="true" aria-expanded="false" {{/if}}>
              {{this.data.title}}
              <span class="sr-only">(current)</span></a>
    
            {{#if this.showChildren}}
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {{#each this.children}}
              <a class="dropdown-item" href="{{this.data.url}}">{{this.data.title}}</a>
              {{/each}}
            </div>
            {{/if}}
          </li>
          {{/each}}



        </ul>
        <form class="d-flex">

          {{#if this.data.user.isAuthenticated}}
            <div class="input-group me-2">
              <span class="hide">{{ this.data.user.profile.roles}}</span>
              <span class="input-group-text" id="basic-addon1">Account</span>
              <input type="text" class="form-control" placeholder="Username" value="{{ this.data.user.profile.moralisEthAddress}}" aria-label="Username" aria-describedby="basic-addon1">
              <span class="input-group-text moralis-metamask-logout"><i class="bi bi-box-arrow-right"></i></span>
            </div>
          {{else}}
            <div class="announcements-title login-control">
              <a href="javascript:void(0)" class="moralis-metamask-login">
                <span class="init">Connect Your Wallet</span>
                <span class="loading hide">Connecting...</span>
                <div class="spinner-border login-spinner hide loading" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </a>
            </div>
          {{/if}}

        </form>
      </div>
    </div>
  </nav>