---
// import { desc } from "drizzle-orm";
// import { drizzle } from "drizzle-orm/d1";
// import { linkShare } from "../db/schema";

if (Astro.locals.user === null) {
  return Astro.redirect("/admin/login");
}

const data = Astro.locals;

const { user } = Astro.locals;
const fullName = `${user.firstName} ${user.lastName}`;

import { apiConfig, type ApiConfig } from "@routes";
import AdminLayout from "../layouts/admin-layout.astro";

const tables = apiConfig;
const domain = Astro.request.url.split("/admin")[0];

---

<AdminLayout title="SonicJs Admin">
  <div class="bg-gray-900">
    <div class="mx-auto max-w-7xl">
      <div class="bg-gray-900 py-10">
        <div class="px-4 sm:px-6 lg:px-8">
          <div>
            <h3 class="text-base font-semibold text-white">API Specs</h3>


 
            
            <ul role="list" class="-mx-2 mt-2 space-y-1">              
              {
                tables.map((item: ApiConfig) => {
                  // <li class='nav-item'>
                  //   <a
                  //     class='nav-link'
                  //     href={'/admin/tables/' + item.route}
                  //   >
                  //     {item.route}
                  //   </a>
                  // </li>
                  return (
                  <li>
                <a target="_blank"
                  href=`/api/v1/${item.route}?limit=10`
                  class="group flex gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 text-gray-400 hover:bg-gray-800 hover:text-white"
                >
                  <div set:html={item.icon} />

                  {item.name}

                  <span class="inline-flex items-center gap-x-1.5 rounded-full bg-red-100 px-2 py-1 text-xs font-medium text-red-700">
  <svg class="size-1.5 fill-red-500" viewBox="0 0 6 6" aria-hidden="true">
    <circle cx="3" cy="3" r="3" />
  </svg>
  GET
</span>
<span class="inline-flex items-center gap-x-1.5 rounded-full bg-yellow-100 px-2 py-1 text-xs font-medium text-yellow-800">
  <svg class="size-1.5 fill-yellow-500" viewBox="0 0 6 6" aria-hidden="true">
    <circle cx="3" cy="3" r="3" />
  </svg>
  POST
</span>
<span class="inline-flex items-center gap-x-1.5 rounded-full bg-green-100 px-2 py-1 text-xs font-medium text-green-700">
  <svg class="size-1.5 fill-green-500" viewBox="0 0 6 6" aria-hidden="true">
    <circle cx="3" cy="3" r="3" />
  </svg>
  PUT
</span>
<span class="inline-flex items-center gap-x-1.5 rounded-full bg-blue-100 px-2 py-1 text-xs font-medium text-blue-700">
  <svg class="size-1.5 fill-blue-500" viewBox="0 0 6 6" aria-hidden="true">
    <circle cx="3" cy="3" r="3" />
  </svg>
  DELETE
</span>
                </a>
                <div>
                  <a target="_blank"
                  href=`/api/v1/${item.route}?limit=10`
                  class="group flex gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 text-gray-400 hover:bg-gray-800 hover:text-white"
                >{`${domain}/api/v1/${item.route}?limit=10`}</a>
                </div>
              </li>
                  );
                })
              }

            </ul>
            

          </div>

    
        </div>
      </div>
    </div>
  </div>
</AdminLayout>
