<div class="accordion" id="accordionExample">

  {{#each data.faqs}}
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading{{@index}}">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{@index}}" aria-expanded="true" 
      aria-controls="collapse{{@index}}">
        {{ this.question }} 
      </button>
    </h2>
    <div id="collapse{{@index}}" class="accordion-collapse collapse" aria-labelledby="heading{{@index}}" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        {{{ this.answer }}}
      </div>
    </div>
  </div>
  {{/each}}

</div>
