<div class="card" style="width: 18rem;">

    <div class="card-header">
        {{data.header}}
      </div>
    <img src="{{ data.image.src }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{data.title}}</h5>
      <p class="card-text">{{data.body}}</p>
      <a href="{{data.link}}" class="btn btn-primary">{{data.linkText}}</a>
    </div>
  </div>