{{#if (eq data.buttonType "url")}}
  <div class="col text-center">
    <a
      href="{{data.redirectUrl}}" 
      {{#if (eq data.openUrl "newWindow")}}target="_blank"{{/if}}
      class="btn btn-{{data.style}} btn-{{data.size}} float-{{data.alignment}}"
    ><i class="bi bi-box-arrow-up-right ms-2"></i>{{data.title}}</a>
  </div>
{{/if}}

{{#if (eq data.buttonType "addContent")}}
  <div class="col text-center">
    <button
      type="button"
      class="btn btn-{{data.style}} btn-{{data.size}} float-{{data.alignment}}"
      onclick="return openFormInModal('create', '{{data.contentTypeToAdd}}')"
    >{{data.title}}</button>
  </div>
{{/if}}