{{#each this}}
<div class="row">
    <div class="col-12">
        <a href="{{this.url}}"><h1>{{this.title}}</h1></a>
    </div>
</div>
<div class="row details">
    <div class="col-4"><a href="{{this.url}}">{{{this.image}}}</a></div>
    <div class="col-8">{{{this.body}}}</div>
</div>
{{/each}}