{{!-- <p>Hello, my name is {{name}}. I am from {{hometown}}. I have " +
             "{{kids.length}} kids:</p>" +
             "<ul>{{#kids}}<li>{{name}} is {{age}}</li>{{/kids}}</ul> --}}

{{#each this}}
<div class="row">
    <div class="col">
        <a href="{{this.url}}"><h1>{{this.title}}</h1></a>
    </div>
</div>
<div class="row">
    <div class="col"><a href="{{this.url}}">{{{this.image}}}</a></div>
    <div class="col">{{{this.body}}}</div>
</div>
<hr>
{{/each}}