<!-- <script>
    import VueFormGenerator from "vue-form-generator";
    import "vue-form-generator/dist/vfg.css"; // optional full css additions
</script> -->

{{ schema }}

<div class="row">
    <div class="col-md-12">
      <div class="card admin-block-add">
        <div class="card-header">
          <strong>Basic Form</strong>
          Elements
        </div>
        <div class="card-body">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
        
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Title</label>
              <div class="col-md-9">
                <input type="text" id="text-input" v-model="title" name="text-input" class="form-control" placeholder="Title">
                <!-- <span class="help-block">This is a help text</span> -->
              </div>
            </div> 
          
            
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="textarea-input">Html Markup</label>
              <div class="col-md-9">
                <textarea id="textarea-input" v-model="content" name="textarea-input" rows="9" class="form-control" placeholder="Content, text or html..."></textarea>
              </div>
            </div>
           
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" v-on:click="addBlock" class="btn btn-sm btn-primary">
            <i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger">
            <i class="fa fa-ban"></i> Cancel</button>
        </div>
      </div>
     
    </div>
    <!--/.col-->
  </div>

<h1 class="text-center">Demo of vue-form-generator</h1>
<div class="container" id="app2">
    <div class="panel panel-default">
        <div class="panel-heading">Form</div>
        <div class="panel-body">
            <vue-form-generator :schema="schema" :model="model" :options="formOptions"></vue-form-generator>
        </div>
    </div>
</div>
</div>
<script>
    var vm = new Vue({
        el: "#app2",

        components: {
            "vue-form-generator": VueFormGenerator.component
        },

        data() {
            return {
                model: {
                    id: "{{page.id}}",
                    title: "{{page.title}}",
                    slug: "{{page.slug}}",
                    rows: "{{page.slug}}",
                    status: true
                },
                schema: {
                    fields: [{
                        type: "input",
                        inputType: "text",
                        label: "ID",
                        model: "id",
                        readonly: true,
                        featured: false,
                        disabled: true
                    }, {
                        type: "input",
                        inputType: "text",
                        label: "Title",
                        model: "title",
                        readonly: false,
                        featured: true,
                        required: true,
                        disabled: false,
                        placeholder: "User's name",
                        validator: VueFormGenerator.validators.string
                    },{
                        type: "input",
                        inputType: "text",
                        label: "Slug",
                        model: "slug",
                        readonly: false,
                        featured: true,
                        required: true,
                        disabled: false,
                        placeholder: "User's name",
                        validator: VueFormGenerator.validators.string
                    },{
                        type: "input",
                        inputType: "text",
                        label: "Rows",
                        model: "rows",
                        readonly: false,
                        featured: true,
                        required: true,
                        disabled: false,
                        placeholder: "User's name",
                        validator: VueFormGenerator.validators.string
                    },{
                        type: "switch",
                        label: "Status",
                        model: "status",
                        multi: true,
                        readonly: false,
                        featured: false,
                        disabled: false,
                        default: true,
                        textOn: "Active",
                        textOff: "Inactive"
                    }]
                },

                formOptions: {
                    validateAfterLoad: true,
                    validateAfterChanged: true
                }
            };
        },

        methods: {

        },

    });
</script>