<div class="container">
    <span class="hr-line"></span>
  </div>
  
<div class="events-area">

    <div class="announcements-title">
        <h2 id="events">Upcoming Events</h2>
        {{#if canAdd}}
        <a href="javascript:void(0)" onclick="return openFormInModal('create', 'announcement')" >Post an Announcements</a>
        {{/if}}
      </div>

      <div class="row g-3">
      {{#each items}}
        <!-- <div class="col-md-4"> -->
        <div class="col-md-4 text-left">
          <div class="card bg-dark event-item h-100">
            <img src="{{this.data.image.src}}" class="card-img-top" />
            <div class="card-body">
              <p class="card-text">
                <a target="_blank" href="/admin/content/edit/fe/{{this.id}}"><i class="bi bi-pencil"></i></a>
                <h2>{{this.data.title}}</h2>
                Start Time & Date: &nbsp;
                <p>{{this.data.dateFormatted}}</p>
              </p>
            </div>
          </div>
          </div>
    {{/each}}
    </div>
  
  
      {{#if data.seeMoreLinkCopy}}
      <div class="row text-center">
        <div class="col">
          <a href=""#">{{data.seeMoreLinkCopy}}</a>
        </div>
      </div>
      {{/if}}
  </div>