{{!-- <div class="home-gallery" itemscope itemtype="http://schema.org/ImageGallery">

  <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="/images/{{ data.fileName }}" itemprop="contentUrl" data-size="1280x1000">
      <img src="/images/{{ data.fileName }}?width={{ data.thumbnailWidth }}" class="thumbnail" itemprop="thumbnail"
        alt="Image description" />
    </a>
    <figcaption class="title" itemprop="caption description">cap 1<span
        class="description">desc 1</span></figcaption>
  </figure>

</div> --}}

<a data-fancybox="gallery" href="/images/{{ data.fileName }}">
    <img width="{{ data.thumbnailWidth }}" src="/images/{{ data.fileName }}?width={{ data.thumbnailWidthRetina }}">
</a>
