<div class="col-lg-12">





  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#fields" role="tab" aria-controls="home"
        aria-selected="true">Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="raw-tab" data-toggle="tab" href="#raw" role="tab" aria-controls="raw"
        aria-selected="true">Roles</a>
    </li>

  </ul>
  <div class="tab-content" id="myTabContent">

    <div class="tab-pane fade show active" id="fields" role="tabpanel" aria-labelledby="home-tab">

      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Users
          <a href="javascript:void(0)" onclick="openNewContentTypeModal()"
            class="btn btn-success float-right new-content-type">New User</a>
        </div>
        <div class="card-body page-list">
          <table class="table table-responsive-sm table-striped">
            <thead>
              <tr>
                <th>Email</th>
                <th>Name</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {{#each data.users}}
              <tr>
                <td><a href="/admin/user/edit/{{ this.id }}">{{ this.email }}</a></td>
                <td>{{ contentType.description}}</td>
                <td>
                  <a class="btn btn-sm btn-primary rmargin" href="/admin/user/edit/{{ this.id }}">Edit</a>


                  <a tabindex="0" class="btn btn-sm btn-danger" role="button" data-html="true" data-toggle="popover"
                    data-trigger="focus" title="Delete <b>{{ this.data.title }}</b> Forever?" data-content="<a href='/user/{{ this.id }}'
   class='btn btn-sm btn-danger rmargin'>Confirm Delete</a>
">Delete</a>

                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>


        </div>
      </div>

    </div>
    <div class="tab-pane fade show" id="raw" role="tabpanel" aria-labelledby="raw-tab">

      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Roles
          <a href="javascript:void(0)" onclick="openNewRoleModal()"
            class="btn btn-success float-right new-content-type">New Role</a>
        </div>
        <div class="card-body page-list">
          <table class="table table-responsive-sm table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {{#each data.roles}}
              <tr>
                <td><a href="/admin/roles/edit/{{ this.id }}">{{ this.name }}</a></td>
                <td>
                  <a class="btn btn-sm btn-primary rmargin"
                    href="/admin/roles/edit/{{ this.systemid }}">Edit</a>


                  <a tabindex="0" class="btn btn-sm btn-danger" role="button" data-html="true" data-toggle="popover"
                    data-trigger="focus" title="Delete <b>{{ this.data.title }}</b> Forever?" data-content="<a href='/contentType/{{ this.id }}'
   class='btn btn-sm btn-danger rmargin'>Confirm Delete</a>
">Delete</a>

                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>


        </div>
      </div>



    </div>

  </div>





</div>


<!-- New User Modal -->
<div class="modal fade" id="newContentTypeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        {{{ data.editFormUser }}}

      </div>
      {{!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success wysiwyg-save" onclick='saveNewContentType()'
          data-dismiss="modal">Create</button>
      </div> --}}
    </div>
  </div>
</div>

<!-- New Role Modal -->
<div class="modal fade" id="newRoleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Role</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        {{{ data.editFormRole }}}

      </div>
      {{!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success wysiwyg-save" onclick='saveNewContentType()'
          data-dismiss="modal">Create</button>
      </div> --}}
    </div>
  </div>
</div>
