<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> Content Type
      <a href="javascript:void(0)" onclick="openNewContentTypeModal()"
        class="btn btn-success float-right new-content-type">New Content Type</a>
    </div>
    <div class="card-body page-list">
      <table class="table table-responsive-sm table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {{#each data}}
          <tr>
            <td><a href="/admin/content-types/edit/{{ this.systemid }}">{{ this.title }}</a></td>
            <td>{{ contentType.description}}</td>
            <td>
              <a class="btn btn-sm btn-primary rmargin" href="/admin/content-types/edit/{{ this.systemid }}">Edit</a>




              <a tabindex="0" class="btn btn-sm btn-danger" role="button" data-html="true" data-toggle="popover"
                data-trigger="focus" title="Delete <b>{{ this.data.title }}</b> Forever?" data-content="<a href='/contentType/{{ this.id }}'
   class='btn btn-sm btn-danger rmargin'>Confirm Delete</a>
">Delete</a>


              {{!-- <button type="button" class="btn btn-sm btn-danger" data-toggle="popover"
 title="Delete Content Type {{ this.title }}" data-html="true"
data-content="<a class='btn btn-sm btn-danger' onclick='deleteContentType({{ this.id }})' >Confirm Delete?</a>">Delete</button> --}}


              {{!-- <ng-template #popTitle>Delete <b>{{ contentType.name }}</b>?</ng-template>
              <ng-template #popContent><button class="btn btn-sm btn-danger"
                  (click)="deleteContentType(contentType.id)">Confirm Delete</button></ng-template>
              <button class="btn btn-sm btn-danger" placement="top" [ngbPopover]="popContent"
                [popoverTitle]="popTitle">Delete</button> --}}
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>

      <!-- <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#">Prev</a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">4</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul> -->
    </div>
  </div>
</div>


<!-- Section Editor Modal -->
<div class="modal fade" id="newContentTypeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Content Type</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <script type='text/javascript'>
          window.onload = function () {
            Formio.createForm(document.getElementById('createContentTypeForm'), {
              components: [
                {
                  type: 'textfield',
                  key: 'title',
                  label: 'Content Type Title',
                  placeholder: 'Enter the title of your new content type (ie: Blog, News, Public Service).',
                  input: true
                },
                {
                  type: 'textfield',
                  key: 'systemid',
                  label: 'systemid',
                  placeholder: 'Enter the slug to be used as the system id (ie: blog, news, public-service)',
                  input: true
                },
                {
                  type: 'button',
                  action: 'submit',
                  label: 'Create',
                  theme: 'primary'
                }
              ]
            })
              .then(async function (form) {
                form.on('submit', async function (submission) {
                  var accessToken = '{{ this.accessToken }}';
                  submission.data.data = {};
                  axios.post(`/api/contentTypes?access_token=${accessToken}`, submission.data)
                    .then(async function (response) {
                      console.log(response);
                      window.location.replace('/admin/content-types/edit/' + submission.data.systemid);

                    })
                    .catch(function (error) {
                      console.log(error);
                    });

                });
              });
          }
        </script>

        <div id="createContentTypeForm"></div>

      </div>
      {{!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success wysiwyg-save" onclick='saveNewContentType()'
          data-dismiss="modal">Create</button>
      </div> --}}
    </div>
  </div>
</div>
