<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> Menus
      <a href="javascript:void(0)" onclick="openNewContentTypeModal()"
        class="btn btn-success float-right new-content-type">New Menu</a>
    </div>
    <div class="card-body page-list">
      <table class="table table-responsive-sm table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {{#each data}}
          <tr>
            <td><a href="/admin/content/edit/{{this.data.contentType}}/{{ this.id }}">{{ this.data.title }}</a></td>
            <td>{{ contentType.description}}</td>
            <td>
              <a class="btn btn-sm btn-primary rmargin"
              href="/admin/content/edit/{{this.data.contentType}}/{{ this.id }}">Edit</a>

             <a class="btn btn-sm btn-primary rmargin"
              href="/admin/menus/edit/{{ this.id }}">Edit 2</a>



              <button class="btn btn-sm btn-danger" type="button" data-toggle="collapse"
                data-target="#collapse{{ this.systemid }}" aria-expanded="false" aria-controls="collapseExample">
                Delete
              </button>
              <div class="collapse" style="margin: 12px 0 0; max-width:300px;" id="collapse{{ this.systemid }}">
                <div class="card card-body">
                  <a class='btn btn-sm btn-danger' href="#" onclick='deleteContentType({{ this.id }})'>Confirm Delete {{ this.title }}?</a> </div>
              </div>

            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>

    </div>
  </div>
</div>
