{{> hero-section }}
{{{page.data.html}}}
{{!-- {{#each sections}}
<section id="{{id}}">
    {{#each this.rows}}
    <div class="{{this.class}}">
        {{#each this.columns}}
        <div class="{{this.class}}">
            {{this.content}}
        </div>
        {{/each}}
    </div>
    {{/each}}
</section>
{{/each}} --}}