<section class="jumbotron-fluid hero no-margin"
    style="background-image:url(http://localhost:3000/api/containers/container1/download/{{page.data.hero-image}})">
    <div class='container'>
        <div class='row'>
            <div class='col'>
                <h1>{{page.data.name}}</h1>
            </div>
        </div>
    </div>
</section>

{{{page.data.html}}}
{{!-- {{#each sections}}
<section id="{{id}}">
    {{#each this.rows}}
    <div class="{{this.class}}">
        {{#each this.columns}}
        <div class="{{this.class}}">
            {{this.content}}
        </div>
        {{/each}}
    </div>
    {{/each}}
</section>
{{/each}} --}}