<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">{{> menu-logo }}</a>
      <button class="navbar-toggler" type="button" data-{{data.themeSettings.bootstrapToggleMiddle}}toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">

          {{#each data.menu}}
          <li class="nav-item {{#if this.showChildren}}dropdown{{/if}}">
            <a class="nav-link {{#if this.isActive}}active{{/if}} {{#if this.showChildren}}dropdown-toggle{{/if}}" href="{{this.data.url}}"
              {{#if this.showChildren}}data-{{data.themeSettings.bootstrapToggleMiddle}}toggle="dropdown" aria-haspopup="true" aria-expanded="false" {{/if}}>
              {{this.data.title}}
              <span class="sr-only">(current)</span></a>
    
            {{#if this.showChildren}}
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {{#each this.children}}
              <a class="dropdown-item" href="{{this.data.url}}">{{this.data.title}}</a>
              {{/each}}
            </div>
            {{/if}}
          </li>
          {{/each}}

          {{#if this.data.user.isAuthenticated}}
          <li class="nav-item">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">ETH 0.000</span>
              <input type="text" class="form-control" placeholder="Username" value="{{ this.data.user.profile.moralisEthAddress}}" aria-label="Username" aria-describedby="basic-addon1">
              <span class="input-group-text moralis-metamask-logout"><i class="bi bi-box-arrow-right"></i></span>
            </div>
            <!-- <a href="#" class="nav-link moralis-metamask-logout">Logout</a> -->
          </li>
          {{else}}
            <li class="nav-item">
              <a href="#" class="btn btn-primary nav-link  text-dark moralis-metamask-login">Connect Your Wallet</a>
            </li>
          {{/if}}

        

         

        </ul>
        <!-- <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>