<div class="row">

  {{#each data.items}}
    <div class="col-lg-4 pb-5">
      <div class="card shadow-lg border-0">
        <div class="overlay blue d-flex align-items-bottom justify-content-end">
          <!-- <img
                src="https://sonicjscom.s3.us-west-1.amazonaws.com/panasonic-white.png"
                class="card-img-top"
              /> -->
          <!-- {{ this.title}} -->
        </div>
        <div class="card-body">

          <div class="light-grey rounded-pill" data-aos="zoom-in-up" data-aos-delay="100">
            <div class="row top-pill">
              <div class="col d-flex align-items-center justify-content-end">
                <div class="card-title-top">{{this.title}}
                  <div class="card-title-top blue">{{this.percentageSaved}}%
                    SAVED
                  </div>
                </div>
              </div>
              <div class="col align-middle" data-aos="flip-left" data-aos-delay="300" data-aos-duration="2000">
                <!-- <div style="height: 50px;">
                      <canvas id="case-chart-1"></canvas>
                    </div> -->

                <svg
                  width="100%"
                  height="100px"
                  viewBox="0 0 42 42"
                  class="donut"
                >
                  <!-- <circle class="donut-hole" cx="21" cy="21" r="15.91549430918954" fill="#fff"></circle> -->
                  <circle
                    class="donut-ring"
                    cx="21"
                    cy="21"
                    r="15.91549430918954"
                    fill="transparent"
                    stroke="#fff"
                    stroke-width="8"
                  ></circle>

                  <circle
                    class="donut-segment"
                    cx="21"
                    cy="21"
                    r="15.91549430918954"
                    fill="transparent"
                    stroke="#2fd6ff"
                    stroke-width="5"
                    stroke-dasharray="{{this.percentageSaved}} {{this.percentageSavedOffset}}"
                    stroke-dashoffset="25"
                  ></circle>
                </svg>

              </div>
            </div>
          </div>

          <p class="card-text" data-aos="fade-in" data-aos-delay="100" data-aos-duration="2000">
            {{this.intro}}
          </p>

          <div class="row compare-data card-text text-center">
            <div class="col-6 left" data-aos="fade-left">
              <div class="header">{{{this.compare1Header}}}</div>
              <div class="bg-white pill shadow">
                <div>
                  {{this.compare1Effort}}
                  <small class="text-muted">Hours</small>
                </div>
                <div>{{this.compare1Delivery}}
                  <small class="text-muted">Weeks</small></div>
              </div>
            </div>
            <div class="col-6 right" data-aos="fade-right">
              <div class="header">{{{this.compare2Header}}}</div>
              <div class="bg-white pill shadow-lg">
                <div>
                  {{this.compare2Effort}}
                  <small class="text-muted">Hours</small>
                </div>
                <div>{{this.compare2Delivery}}
                  <small class="text-muted">Weeks</small></div>
              </div>
            </div>
          </div>

          <!-- <p class="card-text">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">{{this.compare1Header}}</th>
                  <th scope="col">{{this.compare2Header}}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Effort</th>
                  <td>{{this.compare1Effort}}<small
                      class="text-muted d-block"
                    >Hours</small></td>
                  <td>{{this.compare2Effort}}<small
                      class="text-muted d-block"
                    >Hours</small></td>
                </tr>
                <tr>
                  <th scope="row">Delievery</th>
                  <td>{{this.compare1Delivery}}<small
                      class="text-muted d-block"
                    >Weeks</small></td>
                  <td>{{this.compare2Delivery}}<small
                      class="text-muted d-block"
                    >Weeks</small></td>
                </tr>
              </tbody>
            </table>
          </p> -->
          <p class="card-text" data-aos="zoom-out-up">

            {{this.description}}
          </p>
          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins
                  ago</small></p> -->
        </div>
      </div>
    </div>
  {{/each}}

</div>