{{#if (eq data.view "lightbox")}}

  <div class="gallery-container">
    {{#each data.galleryImages}}
      <div>
        <a
          href="{{this.select.src}}"
          title="<b>{{this.title}}</b> {{this.body}}"
        ><img src="{{this.select.src}}" /></a>
      </div>
    {{/each}}
  </div>
{{/if}}

{{#if (eq data.view "fancybox")}}
  <div class="gallery-wrapper">

    {{#each data.galleryImages}}

      <a
        href="{{this.select.src}}"
        data-fancybox="gallery"
        data-title="title"
        data-caption="<b>{{this.title}}</b> - {{this.body}}"
      >
        <img src="{{this.select.src}}" class="img-fluid" alt="" />
      </a>

    {{/each}}

  </div>

{{/if}}

{{#if (eq data.view "columnList")}}
  <div class="gallery-wrapper row">

    {{#each data.galleryImages}}

      <div
        class="col-md d-flex align-items-center justify-content-center p-5 p-md-4" 
        data-aos="zoom-out-down"
        data-aos-delay="{{this.aosDelay}}"
      >
        <img src="{{this.select.src}}" class="img-fluid" alt="" />
      </div>

    {{/each}}

  </div>

{{/if}}

{{#if (eq data.view "splide")}}

  <div class="splide" role="group" aria-label="Splide Basic HTML Example" >
    <div class="splide__track">
      <ul class="splide__list">
        {{#each data.galleryImages}}
          <li class="splide__slide">
            <a
              href="{{this.select.src}}"
              data-fancybox="gallery"
            >
              <img src="{{this.select.src}}" class="img-fluid" alt="" />
            </a>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>

{{/if}}