<div class="feature-box">
    <div class="icon">
        <i class="fa fa-{{ data.icon }}"></i>
    </div>
    <div class="title">
        {{{ data.title }}}
    </div>
    <div class="description">
        {{{ data.description }}}
    </div>
    {{#if data.buttonLink }}
    <a href="{{ data.buttonLink }}" class="btn btn-primary mt-4">{{ data.buttonText }}</a>
    {{/if }}
</div>