
 <div class="container">
    <span class="hr-line"></span>
  </div>
  
  <div class="announcements-area">
      <div class="announcements-title">
        <h2 id="announcements">Announcements</h2>
        {{#if canAdd}}
          <a href="javascript:void(0)" onclick="return openFormInModal('create', 'announcement')" >Post an Announcement</a>
        {{/if}}
      </div>
  
      <div class="row g-3">
  
        Permissions:<br>
        {{ log this }}
        view: {{contentType.acls.canView}}<br>
        create: {{contentType.acls.canCreate}}<br>
        edit: {{contentType.acls.canEdit}}<br>
        delete: {{contentType.acls.canDelete}}<br>
        vote: {{contentType.acls.canVote}}<br>

        {{#each items}}
        <div class="col-md-12 text-left">
          <div class="announcement-item">
            <div class="media">
              <!-- <img src="/assets/uploads/bell.png" class="img-fluid" alt=""> -->
              <div class="media-body ml-4">
                <div class="d-flex align-items-center mb-3">
                  <h2>{{this.data.title}}</h2>
                  <div class="ms-auto">
                    {{#if ../canEdit }}
                      <a class="edit-announcement" onclick="return openFormInModal('edit', 'announcement', '{{ this.id }}')" 
                      href="javascript:void(0)"><img src="/assets/uploads/edit.png" alt=""></a> &nbsp; 
                      <a href="javascript:void(0)" class="delete-announcement" onclick="return openFormInModal('delete', null, '{{ this.id }}')"><img src="/assets/uploads/delete.png" alt=""></a>					
                    {{/if}}
                  </div>
                </div>
                <p>{{{this.data.body}}}</p>
                <p><a href="javascript:void(0)" onclick="return openFormInModal('detail', 'announcement', '{{ this.id }}')" >
                  Read More</a></p>
  
                  {{#if ../canVote }}
                  <div class="d-flex align-items-left pt-3">             
                    <div class="vote-controls" data-vote-controls-id="{{this.id}}">                  
                      <button type="button" class="button-green" onclick="return vote('{{this.id}}', 1)""><i class="bi bi-arrow-up"></i></button>
                      <span class="voteUps">{{this.data.voteUps}}</span> 
                      <button type="button" class="button-red"  onclick="return vote('{{this.id}}', -1)"><i class="bi bi-arrow-down"></i></button>
                      <span class="voteDowns">{{this.data.voteDowns}}</span>  
                    </div>
                  </div>
                {{/if}}
                
                <div class="d-flex align-items-center pt-3">
                  <!-- <div>
                    <img src="/assets/uploads/thumbsup.png" alt=""> 20 &nbsp; &nbsp; 
                    <img src="/assets/uploads/thumbsdown.png" alt=""> 5
                  </div>								 -->
                  <div class="ms-auto">
                    <span>{{{this.data.dateFormatted}}}</span>
                  </div>
                </div>
              </div>
            </div>					
          </div>
        </div>
        {{/each}}
  
      </div>
      
      {{#if data.seeMoreLinkCopy}}
      <div class="see-more text-center">
         <a href=""#">{{data.seeMoreLinkCopy}}</a>
      </div>
      {{/if}}
              

  </div>	
  
  <div class="container">
    <span class="hr-line"></span>
  </div>
  
  
  