<h1>My Clubhouses</h1>

<div class="row">
  {{#each myGroups}}
  <div class="col-md-4">
    <div class="card bg-dark">
      <img src="{{data.icon.src}}" class="card-img-top" />
      <div class="card-body">
        <p class="card-text">
          <a href="{{data.url}}" class="stretched-link">{{data.title}}</a>
        </p>
      </div>
    </div>
  </div>
  {{/each}}
</div>

<h1>All Clubhouses</h1>

<div class="row">
  {{#each groups}}
    <div class="col-md-4">
      <div class="card bg-dark">
        <img src="{{data.icon.src}}" class="card-img-top" />
        <div class="card-body">
          <p class="card-text">
            <a href="{{data.url}}" class="stretched-link">{{data.title}}</a>
          </p>
        </div>
      </div>
    </div>
  {{/each}}
</div>