<!-- 
<h1>My Clubhouses</h1>
<div class="row">
  {{#each myGroups}}
  <div class="col-md-4">
    <div class="card bg-dark">
      <img src="{{data.icon.src}}" class="card-img-top" />
      <div class="card-body">
        <p class="card-text">
          <a href="{{data.url}}" class="stretched-link">{{data.title}}</a>
        </p>
      </div>
    </div>
  </div>
  {{/each}}
</div>
-->

<!--
 <h1>Clubhouses</h1>
 <div class="container">
  <div class="row">
    {{#each groups}}
      <div class="col-md-4 d-flex align-items-stretch">
        <div class="card bg-dark">
          <img src="{{data.icon.src}}" class="card-img-top" />
          <div class="card-body">
            <p class="card-text">
              <a href="{{data.url}}" class="stretched-link">{{data.title}}</a>
            </p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
-->


<h1>My Clubhouses</h1>
<div class="d-flex flex-wrap align-content-start">
  {{#each myGroups}}
  <div class="card bg-dark" style="width: 14rem; margin: 3px;">
    <img src="{{data.icon.src}}" class="card-img-top" />
    <div class="card-body">
      <p class="card-text">
        <a href="{{data.url}}" class="stretched-link">{{data.title}}</a>
      </p>
    </div>
  </div>
  {{/each}}
  <div class="m-4" style="width: 14rem;">
      <img src="/assets/uploads/new_clubhouse.png" class="card-img-top" />
  </div>
</div>

<br>    
<br>    

<h1>Clubhouses</h1>
<div class="d-flex flex-wrap align-content-start">
  {{#each groups}}
  <div class="card bg-dark" style="width: 14rem; margin: 3px;">
    <img src="{{data.icon.src}}" class="card-img-top" />
    <div class="card-body">
      <p class="card-text">
        <a href="{{data.url}}" class="stretched-link">{{data.title}}</a>
      </p>
    </div>
  </div>
  {{/each}}
  <div class="m-4" style="width: 14rem;">
      <img src="/assets/uploads/new_clubhouse.png" class="card-img-top" />
  </div>
</div>