<h1>My Clubhouses</h1>
<!-- <div class="d-flex flex-wrap align-content-start"> -->
<div class="row g-3 my-clubhouses">
  {{#each myGroups}}
    <div class="col-md-4">
      <div class="card bg-dark h-100">
        <img src="{{data.icon.src}}" class="card-img-top" />
        <div class="card-body">
          <p class="card-text">
            <a href="{{data.url}}" class="stretched-link">{{data.title}}</a>
          </p>
        </div>
      </div>
    </div>
  {{/each}}
  <a
    href="#"
    onclick="return openFormInModal('create', 'club-request')"
    class="m-4 new-clubhouse-request"
    style="width: 14rem;"
  >
    <img src="/assets/uploads/new_clubhouse.png" />
  </a>
</div>

<br />
<br />

<h1>Clubhouses</h1>
<!-- <div class="d-flex flex-wrap align-content-start"> -->
<div class="row g-3 clubhouses">
  {{#each groups}}
    <div class="col-md-4">
      <div class="card bg-dark h-100">
        <img src="{{data.icon.src}}" class="card-img-top" />
        <div class="card-body">
          <p class="card-text">
            <a href="{{data.url}}" class="stretched-link">{{data.title}}</a>
          </p>
        </div>
      </div>
    </div>
  {{/each}}
  <div class="m-4 new-group" style="width: 14rem;">
    <a
      href="#"
      onclick="return openFormInModal('create', 'club-request')"
      class="m-4 new-clubhouse-request"
      style="width: 14rem;"
    >
      <img src="/assets/uploads/new_clubhouse.png" />
    </a>
  </div>
</div>

<h1>My NFTs</h1>
<p>This is a temporary section for displaying NFTs. It will be removed before
  launch</p>
{{#each mynfts}}
  <div>
    <img src="{{this.imageUrl}}" width="150px" /><br />
    Name:
    {{this.data.name}}<br />
    Token Address:
    {{this.token_address}}<br />
    Hash:
    {{this.token_hash}}
    <hr />
  </div>
{{/each}}