<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#open" type="button" role="tab" 
      aria-controls="home" aria-selected="true">Open Proposals</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#closed" type="button" role="tab" 
      aria-controls="profile" aria-selected="false">Closed Proposals</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="messages-tab" data-bs-toggle="tab" data-bs-target="#pending" type="button" role="tab" 
      aria-controls="messages" aria-selected="false">Review Proposals</button>
    </li>
  </ul>
  
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="open" role="tabpanel" aria-labelledby="home-tab">

        <div class="row ">
            {{#each openProposals}}
              <div class="col-md-4  mt-3 mb-5">
                <h3>{{this.data.title}} 
                  <a target="_blank" href="/admin/content/edit/fe/{{this.id}}"><i class="bi bi-pencil"></i></a>
                    <!-- <button type="button"  onclick="return openFormInModal('edit', '{{this.id}}')"><i class="bi bi-pencil"></i></button> -->
                </h3>
                {{{this.data.preview}}}
                <div class="text-muted">{{ this.data.remainingDays }}</div>
                <div>                  
                  <button type="button"  onclick="return voteUp('up','{{this.id}}')"><i class="bi bi-hand-thumbs-up"></i></button>
                  <button type="button"  onclick="return vote('down','{{this.id}}')"><i class="bi bi-hand-thumbs-down"></i></button>
                </div>
              </div>
            {{/each}}
        </div>
            
        <div class="row text-center">
            <div class="col">
            <a href=""#">See All Open Proposals</a>
            </div>
        </div>


    </div>
    <div class="tab-pane" id="closed" role="tabpanel" aria-labelledby="profile-tab">

        <div class="row">
            {{#each closedProposals}}
              <div class="col-md-4">
                <h3>{{this.data.title}}</h3>
                {{{this.data.preview}}}
              </div>
            {{/each}}
        </div>
            
        <div class="row text-center">
            <div class="col">
            <a href=""#">See All Closed Proposals</a>
            </div>
        </div>

    </div>
    <div class="tab-pane" id="pending" role="tabpanel" aria-labelledby="messages-tab">

        <div class="row">
            {{#each pendingProposals}}
              <div class="col-md-4">
                <h3>{{this.data.title}}</h3>
                {{{this.data.preview}}}
              </div>
            {{/each}}
        </div>
            
        <div class="row text-center">
            <div class="col">
            <a href=""#">See All Pending Proposals</a>
            </div>
        </div>

    </div>
  </div>