<div class="card mb-12 my-4">
    <img class="card-img-top" src="{{  data.fileName.src  }}" alt="{{data.title}}">
    <div class="card-body">
      <h2 class="card-title">{{data.title}}</h2>
      <p class="card-text">{{{ data.body }}}</p>
      {{#if data.urlKey.previousUrl}}
      <a href="{{data.urlKey.previousUrl}}" class="btn btn-primary">← Previous Post</a>
      {{/if}}

      {{#if data.urlKey.nextUrl}}
      <a href="{{data.urlKey.nextUrl}}" class="btn btn-primary pull-right">Next Post →</a>
      {{/if}}
    </div>
    <div class="card-footer text-muted">
      <!-- {{this.data.createdOnFormatted}} by
      <a href="#">Lane C., SonicJs Founder</a> -->
    </div>
  </div>