
<nav class="st-nav navbar main-nav navigation fixed-top" id="main-nav">

  {{> menu-github }}

  <div class="container">
    <ul class="st-nav-menu nav navbar-nav">
      <li class="st-nav-section nav-item">
        <a href="/" class="navbar-brand">
          <img
            src="/assets/uploads/{{ data.themeSettings.fileNameDark.file }}"
            width="{{ data.themeSettings.imageWidth }}"
            alt="SoncisJs Node CMS"
            class="logo logo-sticky d-block d-md-none"
          />
          <img
            src="/assets/uploads/{{ data.themeSettings.fileName.file }}"
            width="{{ data.themeSettings.imageWidth }}"
            alt="SoncisJs Node CMS"
            class="logo d-none d-md-block"
          />
        </a>
      </li>

      <li class="st-nav-section st-nav-primary nav-item">
        {{#each data.menu}}
        <a class="st-root-link {{#if this.showChildren}}st-has-dropdown{{/if}} nav-link" data-dropdown="{{ this.data.title }}" href="{{ this.data.url }}"
          >{{ this.data.title }}
        </a>
        {{/each}}

      </li>


      <!-- Mobile Navigation -->
      <li class="st-nav-section st-nav-mobile nav-item">
        <button class="st-root-link navbar-toggler" type="button">
          <span class="icon-bar"></span> <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="st-popup">
          <div class="st-popup-container">
            <a class="st-popup-close-button">Close</a>
            <div class="st-dropdown-content-group">
              <h4 class="text-uppercase regular">Pages</h4>
              {{#each data.menu}}

              <a class="regular text-primary" href="{{ this.data.url }}">
                <i class="fa fa-chevron-right mr-2"></i> {{ this.data.title }} </a>
                {{/each}}

            </div>

          </div>
        </div>
      </li>
    </ul>
  </div>

</nav>
