<!doctype html>
<html lang="en" class="{{page.data.pageCssClass}}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ page.data.metaDescription }}">
  <meta name="generator" content="SonicJs">
  <link rel="icon" href="/img/favicon.ico">

  <title>{{page.data.metaTitle}}</title>

  <!-- Web Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{page.data.siteSettings.fontHeaders}}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{page.data.siteSettings.fontDefault}}">
  <style>
    body,
    p {
      font-family: '{{page.data.siteSettings.fontDefault}}',
      serif !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: '{{page.data.siteSettings.fontHeaders}}',
      serif;
    }
  </style>

  <!-- Bootstrap core CSS -->
  <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  {{#unless page.data.showPageBuilder}}
    <link href="/api/containers/css/download/template.css" rel="stylesheet">
  {{/unless}}

  {{#if page.data.showPageBuilder}}
    <link href="/css/page-builder.css" rel="stylesheet">
  {{/if}}

  <link href="/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/node_modules/jsoneditor/dist/jsoneditor.min.js" rel="stylesheet">
  <link href="/node_modules/photoswipe/dist/photoswipe.css" rel="stylesheet">
  <link href="/node_modules/photoswipe/dist/default-skin/default-skin.css" rel="stylesheet">
  <link href="/node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.css" rel="stylesheet">
  <link href="/node_modules/formiojs/dist/formio.form.min.css" rel="stylesheet">
  {{{page.data.cssLinks}}}

  <base href="/">

  {{{ page.data.headerJs }}}

</head>

<body>
  <input type="hidden" name="page-id" id="page-id" value="{{page.id}}">

  {{> menu level='1'}}

  {{> menu level='2'}}

  <main role="main">

    {{#if page.data.showPageBuilder}}
    {{> page-builder }}
    {{/if}}

    {{{body}}}

  </main><!-- /.container -->

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col">
          <p>Powered by <a href="https://sonicjs.com">SonicJs Node CMS</a></p>
        </div>
      </div>
    </div>
  </footer>

  <script src="/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/node_modules/ace-builds/src-min-noconflict/ace.js"></script>
  <script src="/node_modules/ace-builds/src-min-noconflict/ext-beautify.js"></script>
  <script src="/node_modules/axios/dist/axios.min.js"></script>
  <script src="/node_modules/popper.js/dist/popper.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/node_modules/tinymce/tinymce.min.js"></script>
  <script src="/node_modules/tinymce/jquery.tinymce.min.js"></script>
  <script src="/node_modules/jsoneditor/dist/jsoneditor.min.js"></script>
  <script src="/node_modules/formiojs/dist/formio.full.min.js"></script>
  <script src="/node_modules/photoswipe/dist/photoswipe.min.js"></script>
  <script src="/node_modules/photoswipe/dist/photoswipe-ui-default.min.js"></script>
  <script src="/node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
  <script src="/vendors/dropzone/dropzone.min.js"></script>
  <script src="/js/common.js"></script>
  <script src="/services/shared.service.js"></script>
  <script src="/services/global.service.js"></script>
  <script src="/services/helper.service.js"></script>
  <script src="/services/data.service.js"></script>
  <script src="/services/form.service.js"></script>
  <script src="/services/analytics.service.js"></script>
  <script src="/js/page-builder.js"></script>


  {{{page.data.jsLinks}}}

  {{> photoswipe }}

</body>

</html>
