<!doctype html>
<html lang="en" class="{{page.data.pageCssClass}}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ page.data.metaDescription }}">
  <meta name="generator" content="SonicJs">
  <meta name="version" content="{{ page.data.appVersion }}">
  <link rel="icon" href="/img/favicon.ico">

  <title>{{page.data.metaTitle}}</title>

  <!-- Web Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{page.data.siteSettings.fontHeaders}}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{page.data.siteSettings.fontDefault}}">
  <style>
    body,
    p {
      font-family: '{{page.data.siteSettings.fontDefault}}',
      serif !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: '{{page.data.siteSettings.fontHeaders}}',
      serif;
    }
  </style>

  <!-- Bootstrap core CSS -->
  {{!-- <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  {{#unless page.data.showPageBuilder}}
  <link href="/api/containers/css/download/template.css" rel="stylesheet">
  {{/unless}}


  <link href="/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/node_modules/jsoneditor/dist/jsoneditor.min.js" rel="stylesheet">
  <link href="/node_modules/photoswipe/dist/photoswipe.css" rel="stylesheet">
  <link href="/node_modules/photoswipe/dist/default-skin/default-skin.css" rel="stylesheet">
  <link href="/node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.css" rel="stylesheet">
  <link href="/node_modules/formiojs/dist/formio.form.min.css" rel="stylesheet"> --}}

  {{!-- <link type="text/css" href="/css/combined-0.0.8.css" rel="stylesheet"> --}}

  {{{page.data.cssLinks}}}

  {{#if page.data.showPageBuilder}}
  <link href="/page-builder/css/page-builder.css" rel="stylesheet">
  {{/if}}

  <button class="sidebar-expander" type="button"></button>

  <base href="/">

  {{{ page.data.headerJs }}}

</head>

<body>
  <input type="hidden" name="page-id" id="page-id" value="{{page.id}}">

  {{> menu level='1'}}

  {{> menu level='2'}}

  <main role="main">

    {{#if page.data.showPageBuilder}}
    {{> page-builder }}
    {{/if}}

    {{{body}}}

  </main><!-- /.container -->

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col footer-top-margin">
          <p>Powered by <a href="https://sonicjs.com">SonicJs Node CMS</a></p>
        </div>
        <div class="col social text-center">
          <ul>
            <li><a target="_blank" href="https://github.com/lane711/sonicjs"><i class="fa fa-github"></i></a></li>
            <li><a target="_blank" href="https://www.youtube.com/channel/UCm_B7S9smSvtrv0nAt2vrqw"><i
                  class="fa fa-youtube"></i></a></li>
            <li><a target="_blank" href="https://www.facebook.com/SonicJs-Nodejs-CMS-113052493788728"><i
                  class="fa fa-facebook"></i></a></li>
            <li><a target="_blank" href="https://twitter.com/SonicJs1"><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>
        <div class="col text-right footer-top-margin">
          <p>© 2020, SonicJS. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>

  {{! js links here }}
  {{{page.data.jsLinks}}}

  {{!-- <script src="/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/node_modules/ace-builds/src-min-noconflict/ace.js"></script>
  <script src="/node_modules/ace-builds/src-min-noconflict/ext-beautify.js"></script>
  <script src="/node_modules/axios/dist/axios.min.js"></script>
  <script src="/node_modules/popper.js/dist/popper.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/node_modules/tinymce/tinymce.min.js"></script>
  <script src="/node_modules/tinymce/jquery.tinymce.min.js"></script>
  <script src="/node_modules/jsoneditor/dist/jsoneditor.min.js"></script>
  <script src="/node_modules/formiojs/dist/formio.full.min.js"></script>
  <script src="/node_modules/photoswipe/dist/photoswipe.min.js"></script>
  <script src="/node_modules/photoswipe/dist/photoswipe-ui-default.min.js"></script>
  <script src="/node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
  <script src="/node_modules/dropzone/dist/min/dropzone.min.js"></script>
  <script src="/js/common.js"></script>
  <script src="/services/shared.service.js"></script>
  <script src="/services/global.service.js"></script>
  <script src="/services/helper.service.js"></script>
  <script src="/services/data.service.js"></script>
  <script src="/services/form.service.js"></script>
  <script src="/services/analytics.service.js"></script>
  <script src="/js/page-builder.js"></script>--}}

  {{> photoswipe }}

</body>

</html>
