<!doctype html>
<html lang="en" class="{{page.data.pageCssClass}}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ page.data.metaDescription }}">
  <meta name="author" content="">
  <link rel="icon" href="/img/favicon.ico">

  <title>{{page.data.metaTitle}}</title>

  <!-- Web Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{page.data.siteSettings.fontHeaders}}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{page.data.siteSettings.fontDefault}}">
  <style>
    body,
    p {
      font-family: '{{page.data.siteSettings.fontDefault}}',
      serif !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: '{{page.data.siteSettings.fontHeaders}}',
      serif;
    }
  </style>

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  {{#unless page.data.showPageBuilder}}
  <link href="/api/containers/css/download/template.css" rel="stylesheet">
  {{/unless}}

  {{#if page.data.showPageBuilder}}
  <link href="/css/page-builder.css" rel="stylesheet">
  {{/if}}

  <link href="/css/font-awesome.css" rel="stylesheet">
  <link href="/jsoneditor.min.css" rel="stylesheet">
  <link href="/node_modules/photoswipe/dist/photoswipe.css" rel="stylesheet">
  <link href="/node_modules/photoswipe/dist/default-skin/default-skin.css" rel="stylesheet">
  <link href="/node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.css" rel="stylesheet">
  <link href="/formio.full.min.css" rel="stylesheet">
  {{{page.data.cssLinks}}}

  {{!-- <link href="/css/generated.css" rel="stylesheet"> --}}

  {{!-- <link href="/formio.full.min.css" rel="stylesheet"> --}}

  <base href="/">

  <!-- start Mixpanel --><script type="text/javascript">(function(c,a){if(!a.__SV){var b=window;try{var d,m,j,k=b.location,f=k.hash;d=function(a,b){return(m=a.match(RegExp(b+"=([^&]*)")))?m[1]:null};f&&d(f,"state")&&(j=JSON.parse(decodeURIComponent(d(f,"state"))),"mpeditor"===j.action&&(b.sessionStorage.setItem("_mpcehash",f),history.replaceState(j.desiredHash||"",c.title,k.pathname+k.search)))}catch(n){}var l,h;window.mixpanel=a;a._i=[];a.init=function(b,d,g){function c(b,i){var a=i.split(".");2==a.length&&(b=b[a[0]],i=a[1]);b[i]=function(){b.push([i].concat(Array.prototype.slice.call(arguments,
0)))}}var e=a;"undefined"!==typeof g?e=a[g]=[]:g="mixpanel";e.people=e.people||[];e.toString=function(b){var a="mixpanel";"mixpanel"!==g&&(a+="."+g);b||(a+=" (stub)");return a};e.people.toString=function(){return e.toString(1)+".people (stub)"};l="disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split(" ");
for(h=0;h<l.length;h++)c(e,l[h]);var f="set set_once union unset remove delete".split(" ");e.get_group=function(){function a(c){b[c]=function(){call2_args=arguments;call2=[c].concat(Array.prototype.slice.call(call2_args,0));e.push([d,call2])}}for(var b={},d=["get_group"].concat(Array.prototype.slice.call(arguments,0)),c=0;c<f.length;c++)a(f[c]);return b};a._i.push([b,d,g])};a.__SV=1.2;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?
MIXPANEL_CUSTOM_LIB_URL:"file:"===c.location.protocol&&"//cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js";d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d)}})(document,window.mixpanel||[]);
mixpanel.init("4e479879c864f14281f4bc81d868fe28");</script><!-- end Mixpanel -->

  mixpanel.track("LOAD_PAGE", {"genre": "hip-hop", "duration in seconds": 42});


  {{{ page.data.headerJs }}}

</head>

<body>
  <input type="hidden" name="page-id" id="page-id" value="{{page.id}}">
  {{> menu }}

  <main role="main">

    {{#if page.data.showPageBuilder}}
    {{> page-builder }}
    {{/if}}

    {{{body}}}

  </main><!-- /.container -->

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col">
          <p>Powered by <a href="https://sonicjs.com">SonicJs Node CMS</a></p>
        </div>
      </div>
    </div>
  </footer>

  <script src="jquery.min.js"></script>
  <script src="/node_modules/ace-builds/src-min-noconflict/ace.js"></script>
  <script src="/node_modules/ace-builds/src-min-noconflict/ext-beautify.js"></script>
  <script src="/node_modules/axios/dist/axios.min.js"></script>
  <script src="/js/popper.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/tinymce.min.js"></script>
  <script src="/js/jquery.tinymce.min.js"></script>
  <script src="/jsoneditor.min.js"></script>
  <script src="/formio.full.min.js"></script>
  <script src="/node_modules/photoswipe/dist/photoswipe.min.js"></script>
  <script src="/node_modules/photoswipe/dist/photoswipe-ui-default.min.js"></script>
  <script src="/node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
  <script src="/vendors/dropzone/dropzone.min.js"></script>
  <script src="/js/common.js"></script>
  <script src="/services/shared.service.js"></script>
  <script src="/services/global.service.js"></script>
  <script src="/services/helper.service.js"></script>
  <script src="/services/data.service.js"></script>
  <script src="/services/form.service.js"></script>
  <script src="/services/analytics.service.js"></script>
  <script src="/js/page-builder.js"></script>


  {{{page.data.jsLinks}}}

  {{> photoswipe }}

</body>

</html>
