<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/img/favicon.ico">

  <title>{{title}}</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/starter-template/">

  <!-- Web Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{page.data.siteSettings.font-headers}}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{page.data.siteSettings.font-default}}">
  <style>
    body,
    p {
      font-family: '{{page.data.siteSettings.font-default}}',
      serif !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: '{{page.data.siteSettings.font-headers}}',
      serif;
    }
  </style>

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/template.css" rel="stylesheet">
  <link href="/css/page-builder.css" rel="stylesheet">
  <link href="/css/font-awesome.css" rel="stylesheet">
  <link href="/jsoneditor.min.css" rel="stylesheet">

  <base href="/">

</head>

<body>
  <input type="hidden" name="page-id" id="page-id" value="{{page.id}}">
  {{> menu }}

  <main role="main">

    {{> page-builder }}

    {{{body}}}

  </main><!-- /.container -->

  <footer class="blog-footer">
    <div class="container">
      <div class="row">
        <div class="col">
          <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a
              href="https://twitter.com/mdo">@mdo</a>.</p>
          <p>
            <a href="#">Back to top</a>


          </p>
        </div>
      </div>
    </div>
  </footer>

  <script src="jquery.min.js"></script>
  <script src="/js/popper.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/page-builder.js"></script>
  <script src="/js/tinymce.min.js"></script>
  <script src="/js/jquery.tinymce.min.js"></script>
  <script src="/jsoneditor.min.js"></script>


</body>

</html>