{{!--
<nav class="navbar navbar-expand-md navbar-dark bg-ptrans fixed-top drop-link">
  <a class="navbar-brand"
    style="font-size:{{ data.themeSettings.fontSize }}; color:{{ data.themeSettings.fontColor }}" href="/">
    {{#if (eq data.themeSettings.logoType "image")}}
    <div style="{{ data.themeSettings.imageStyle}}"> <img src="/images/{{ data.themeSettings.fileName}}"
        alt="" width="{{ data.themeSettings.imageWidth}}">
    </div>
    {{/if}}
    {{#if (eq data.themeSettings.logoType "text")}}
    {{ data.themeSettings.logoTitle }}
    {{/if}}
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar"
    aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mainNavbar">

    <ul class="navbar-nav mr-auto main">
      {{#each data.menu}}
      <li class="nav-item {{#if this.isActive}}active{{/if}} {{#if this.showChildren}}dropdown{{/if}}">
        <a class="nav-link {{#if this.showChildren}}dropdown-toggle{{/if}}" href="{{this.data.url}}"
          {{#if this.showChildren}}data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {{/if}}>
          {{this.data.title}}
          <span class="sr-only">(current)</span></a>

        {{#if this.showChildren}}
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {{#each this.children}}
          <a class="dropdown-item" href="{{this.data.url}}">{{this.data.title}}</a>
          {{/each}}
        </div>
        {{/if}}

      </li>
      {{/each}}
    </ul>

    {{> menu-github}}

  </div>
</nav> --}}

{{!-- ============== --}}

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">

  {{#if (eq data.themeSettings.logoType "text")}}
  <h5 class="my-0 mr-md-auto font-weight-normal">{{ data.themeSettings.logoTitle }}</h5>
  {{/if}}

  {{#if (eq data.themeSettings.logoType "image")}}
  <div style="{{ data.themeSettings.imageStyle}}" class="mr-md-auto">
    <img src="/images/{{ data.themeSettings.fileName}}" alt=""
      width="{{ data.themeSettings.imageWidth}}">
  </div>
  {{/if}}

    {{!-- <h5 class="my-0 mr-md-auto font-weight-normal">{{ data.themeSettings.logoTitle }}</h5> --}}


  <nav class="my-2 my-md-0 mr-md-3">

    <ul class="nav justify-content-end">
      {{!-- <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li> --}}

      {{#each data.menu}}
      <li class="nav-item {{#if this.isActive}}active{{/if}} {{#if this.showChildren}}dropdown{{/if}}">
        <a class="nav-link {{#if this.showChildren}}dropdown-toggle{{/if}}" href="{{this.data.url}}"
          {{#if this.showChildren}}data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {{/if}}>
          {{this.data.title}}
          <span class="sr-only">(current)</span></a>

        {{#if this.showChildren}}
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {{#each this.children}}
          <a class="dropdown-item" href="{{this.data.url}}">{{this.data.title}}</a>
          {{/each}}
        </div>
        {{/if}}
      </li>
      {{/each}}
      </li>
    </ul>

    {{!-- <a class="p-2 text-dark" href="#">Features</a>
    <a class="p-2 text-dark" href="#">Enterprise</a>
    <a class="p-2 text-dark" href="#">Support</a>
    <a class="p-2 text-dark" href="#">Pricing</a>
    <ul class="navbar-nav mr-auto main">
    {{#each data.menu}}
    <li class="nav-item {{#if this.isActive}}active{{/if}} {{#if this.showChildren}}dropdown{{/if}}">
      <a class="nav-link {{#if this.showChildren}}dropdown-toggle{{/if}}" href="{{this.data.url}}"
        {{#if this.showChildren}}data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {{/if}}>
        {{this.data.title}}
        <span class="sr-only">(current)</span></a>

      {{#if this.showChildren}}
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {{#each this.children}}
        <a class="dropdown-item" href="{{this.data.url}}">{{this.data.title}}</a>
        {{/each}}
      </div>
      {{/if}}

    </li>
    {{/each}} --}}
    </ul>
  </nav>
  <a class="btn btn-outline-primary" href="#">Sign up</a>
</div>

{{!--
<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary mb-4">
  <div class="container">
    <a href="../" class="navbar-brand">Bootswatch</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Themes <span
              class="caret"></span></a>
          <div class="dropdown-menu" aria-labelledby="themes">
            <a class="dropdown-item" href="../default/">Default</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="../cerulean/">Cerulean</a>
            <a class="dropdown-item" href="../cosmo/">Cosmo</a>
            <a class="dropdown-item" href="../cyborg/">Cyborg</a>
            <a class="dropdown-item" href="../darkly/">Darkly</a>
            <a class="dropdown-item" href="../flatly/">Flatly</a>
            <a class="dropdown-item" href="../journal/">Journal</a>
            <a class="dropdown-item" href="../litera/">Litera</a>
            <a class="dropdown-item" href="../lumen/">Lumen</a>
            <a class="dropdown-item" href="../lux/">Lux</a>
            <a class="dropdown-item" href="../materia/">Materia</a>
            <a class="dropdown-item" href="../minty/">Minty</a>
            <a class="dropdown-item" href="../pulse/">Pulse</a>
            <a class="dropdown-item" href="../sandstone/">Sandstone</a>
            <a class="dropdown-item" href="../simplex/">Simplex</a>
            <a class="dropdown-item" href="../sketchy/">Sketchy</a>
            <a class="dropdown-item" href="../slate/">Slate</a>
            <a class="dropdown-item" href="../solar/">Solar</a>
            <a class="dropdown-item" href="../spacelab/">Spacelab</a>
            <a class="dropdown-item" href="../superhero/">Superhero</a>
            <a class="dropdown-item" href="../united/">United</a>
            <a class="dropdown-item" href="../yeti/">Yeti</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../help/">Help</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://blog.bootswatch.com/">Blog</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="download">Cerulean <span
              class="caret"></span></a>
          <div class="dropdown-menu" aria-labelledby="download">
            <a class="dropdown-item" rel="noopener" target="_blank"
              href="https://jsfiddle.net/bootswatch/9y480qo5/">Open in JSFiddle</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="../4/cerulean/bootstrap.min.css" download>bootstrap.min.css</a>
            <a class="dropdown-item" href="../4/cerulean/bootstrap.css" download>bootstrap.css</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="../4/cerulean/_variables.scss" download>_variables.scss</a>
            <a class="dropdown-item" href="../4/cerulean/_bootswatch.scss" download>_bootswatch.scss</a>
          </div>
        </li>

{{!-- {{ log data.menu }} --}}
{{!-- {{#each data.menu}}
        <li class="nav-item {{#if this.isActive}}active{{/if}} {{#if this.showChildren}}dropdown{{/if}}">
          <a class="nav-link {{#if this.showChildren}}dropdown-toggle{{/if}}" href="{{this.data.url}}"
            {{#if this.showChildren}}data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {{/if}}>
            {{this.data.title}}
            <span class="sr-only">(current)</span></a>

          {{#if this.showChildren}}
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {{#each this.children}}
            <a class="dropdown-item" href="{{this.data.url}}">{{this.data.title}}</a>
            {{/each}}
          </div>
          {{/if}}

        </li>
        {{/each}}

      </ul>
    </div>
  </div>
</div> --}}
