{{!--
<nav class="navbar navbar-expand-md navbar-dark bg-ptrans fixed-top drop-link">
  <a class="navbar-brand"
    style="font-size:{{ data.themeSettings.fontSize }}; color:{{ data.themeSettings.fontColor }}" href="/">
    {{#if (eq data.themeSettings.logoType "image")}}
    <div style="{{ data.themeSettings.imageStyle}}"> <img src="/images/{{ data.themeSettings.fileName}}"
        alt="" width="{{ data.themeSettings.imageWidth}}">
    </div>
    {{/if}}
    {{#if (eq data.themeSettings.logoType "text")}}
    {{ data.themeSettings.logoTitle }}
    {{/if}}
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar"
    aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mainNavbar">

    <ul class="navbar-nav mr-auto main">
      {{#each data.menu}}
      <li class="nav-item {{#if this.isActive}}active{{/if}} {{#if this.showChildren}}dropdown{{/if}}">
        <a class="nav-link {{#if this.showChildren}}dropdown-toggle{{/if}}" href="{{this.data.url}}"
          {{#if this.showChildren}}data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {{/if}}>
          {{this.data.title}}
          <span class="sr-only">(current)</span></a>

        {{#if this.showChildren}}
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {{#each this.children}}
          <a class="dropdown-item" href="{{this.data.url}}">{{this.data.title}}</a>
          {{/each}}
        </div>
        {{/if}}

      </li>
      {{/each}}
    </ul>

    {{> menu-github}}

  </div>
</nav> --}}

{{!-- ============== --}}

{{!-- <header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md fixed-top">

    <a class="navbar-brand"
      style="font-size:{{ data.themeSettings.fontSize }}; color:{{ data.themeSettings.fontColor }}" href="/">
      {{#if (eq data.themeSettings.logoType "image")}}
      <div style="{{ data.themeSettings.imageStyle}}"> <img src="/images/{{ data.themeSettings.fileName}}" alt=""
          width="{{ data.themeSettings.imageWidth}}">
      </div>
      {{/if}}
      {{#if (eq data.themeSettings.logoType "text")}}
      {{ data.themeSettings.logoTitle }}
      {{/if}}
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">

        {{#each data.menu}}
        <li class="nav-item {{#if this.isActive}}active{{/if}} {{#if this.showChildren}}dropdown{{/if}}">
          <a class="nav-link {{#if this.showChildren}}dropdown-toggle{{/if}}" href="{{this.data.url}}"
            {{#if this.showChildren}}data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {{/if}}>
            {{this.data.title}}
            <span class="sr-only">(current)</span></a>

          {{#if this.showChildren}}
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {{#each this.children}}
            <a class="dropdown-item" href="{{this.data.url}}">{{this.data.title}}</a>
            {{/each}}
          </div>
          {{/if}}

        </li>
        {{/each}}

      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</header> --}}

{{!-- =============== --}}
<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md fixed-top">
    <a class="navbar-brand" href="#">Fixed navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>

        {{#each data.menu}}
        <li class="nav-item {{#if this.isActive}}active{{/if}} {{#if this.showChildren}}dropdown{{/if}}">
          <a class="nav-link {{#if this.showChildren}}dropdown-toggle{{/if}}" href="{{this.data.url}}"
            {{#if this.showChildren}}data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {{/if}}>
            {{this.data.title}}
            <span class="sr-only">(current)</span></a>

          {{#if this.showChildren}}
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {{#each this.children}}
            <a class="dropdown-item" href="{{this.data.url}}">{{this.data.title}}</a>
            {{/each}}
          </div>
          {{/if}}

        </li>
        {{/each}}

      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</header>
