            <a class='anchor' id='matrix'></a>
<div class="table-responsive compare-cms">
  <table class="table table-striped text-successtable-border border-light">
    <tbody>

      {{#each data.rows}}

        {{#if category}}
          <tr class="category">
            <th scope="row">{{this.title}}<a class='anchor' id='{{this.anchor}}'></a>
              {{#if note}}
              <a
                href="#"
                data-toggle="tooltip"
                class="badge badge-info"
                title="{{this.note}}"
              >Info</a>
              {{/if}}
            </th> 
            {{#each ../data.list}}
              <td class="rotate"><div><span>{{this.title}}</span></div></td>
            {{/each}}
          </tr>
        {{/if}}

        {{#unless category}}
          <tr>
            <th scope="row">{{this.title}}
              {{#if note}}
              <a
                href="#"
                data-toggle="tooltip"
                class="badge badge-info"
                title="{{this.note}}"
              >Info</a>
              {{/if}}
            </th>

            {{#each ../data.list}}

              <td><i class="fas {{comparerow ../this this}}"></i></td>

            {{/each}}

          </tr>
        {{/unless}}

      {{/each}}

    </tbody>
  </table>
</div>

<div class="review-wrapper">
{{#each data.list}}
  <a class='anchor' id="{{this.anchor}}"></a>
  <h1>{{this.title}} Review</h1>
  {{{this.review}}}
{{/each}}
</div>