<div class="table-responsive compare-cms">
  <table class="table table-striped text-successtable-border border-light">
    <thead class="border-light">
      <tr>
        <th scope="col"></th>
        {{#each data.list}}
          <th scope="col"><strong>{{this.title}}</strong></th>
        {{/each}}
      </tr>
    </thead>
    <tbody>

      {{#each data.rows}}

        {{log this}}
        {{#if category}}
          <tr class="category">
            <th scope="row">{{this.title}}
              <a
                href="#"
                data-toggle="tooltip"
                class="badge badge-info"
                title="Can the CMS accommodate the use case more efficiently/effectively than the compared options? Is the scenario one of the primary use cases that the CMS was meant to solve?"
              >Info</a>
            </th> 
            {{#each ../data.list}}
              <td>{{this.title}}</td>
            {{/each}}
          </tr>
        {{/if}}

        {{#unless category}}
          <tr>
            <th scope="row">{{this.title}}</th>

            {{#each ../data.list}}


              <td><i class="fas {{comparerow ../this this}}"></i></td>

            {{/each}}

    
          </tr>
        {{/unless}}

      {{/each}}

    </tbody>
  </table>
</div>

<hr />
<hr />
<hr />

<div class="table-responsive compare-cms">
  <table class="table table-striped text-successtable-border border-light">
    <thead class="border-light">
      <tr>
        <th scope="col"></th>
        <th scope="col"><strong>SonicJs</strong></th>
        <th scope="col"><strong>KeystoneJs</strong></th>
        <th scope="col"><strong>Ghost</strong></th>
        <th scope="col"><strong>Apostrophe</strong></th>
      </tr>
    </thead>
    <tbody>

      <tr class="category">
        <th scope="row">Supported Use Cases
          <a
          href="#"
          data-toggle="tooltip"
          class="badge badge-info"
          title="Can the CMS accommodate the use case more efficiently/effectively than the compared options? Is the scenario one of the primary use cases that the CMS was meant to solve?"
        >Info</a>
        </th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Build a Quick Simple WebSite</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-check text-success"></i></td>

      </tr>

      <tr>
        <th scope="row">Build a Complex WebSite</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-check text-success"></i></td>
      </tr>

      <tr>
        <th scope="row">Build a Blog</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>

      <tr>
        <th scope="row">Build a Quick Simple Web Application</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>

      <tr>
        <th scope="row">Build a Complex Web Application</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>

      <tr>
        <th scope="row">Headless CMS for Simple Mobile App</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Headless CMS for Complex Mobile App</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Rapid Prototyping Website/App</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>

      <tr class="category">
        <th scope="row">Database Support</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">MySQL</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">PostgreSQL</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">SQLite</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">MariaDB</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Microsoft SQL Server</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Oracle</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">WebSQL</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">MongoDB</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-check text-success"></i></td>
      </tr>
      <tr>
        <th scope="row">CockroachDB</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">SAP Hana</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">sql.js</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>



      <tr class="category">
        <th scope="row">Content Types
          <a
            href="#"
            data-toggle="tooltip"
            class="badge badge-info"
            title="Content types allow site builders to manage the schema of various data objects that will be maintained on their site/app. IE: blog post, user profile, site settings."
          >Info</a>

        </th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <th scope="row">Code Driven Content Types
          <a
            href="#"
            data-toggle="tooltip"
            class="badge badge-info"
            title="Allows the developer to define content types in code, typically a json or js file."
          >Info</a>
        </th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>

      <tr>
        <th scope="row">UI Driven Content Types
          <a
            href="#"
            data-toggle="tooltip"
            class="badge badge-info"
            title="Allows the admin user to define content types from a drag-and-drop user interface."
          >Info</a>
        </th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>

      <tr>
        <th scope="row">Content Type Relationships
          <a
            href="#"
            data-toggle="tooltip"
            class="badge badge-info"
            title="Allows the admin user to define relationships between content types. IE: one-to-many, many-to-many"
          >Info</a>
        </th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>

      <tr>
        <th scope="row">Content Type CRUD
          <a
            href="#"
            data-toggle="tooltip"
            class="badge badge-info"
            title="CRUD (Create/Read/Update/Delete) operations are made available for custom content types. Developers can manipulate data using 
            only the API and therefore do not need to develop a data access layer"
          >Info</a>
        </th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>

      <tr>
        <th scope="row">Content Type Form Generation
          <a
            href="#"
            data-toggle="tooltip"
            class="badge badge-info"
            title="Content instances can be 100% managed from auto-generated forms. Developers do not need to develop html forms for content types."
          >Info</a>
        </th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>

      <tr>
        <th scope="row">Module Association
          <a
            href="#"
            data-toggle="tooltip"
            class="badge badge-info"
            title="Associate content types to modules for organization/management purposes. One module can have multiple content types."
          >Info</a>
        </th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>



      <tr class="category">
        <th scope="row">Field Types <a
          href="#"
          data-toggle="tooltip"
          class="badge badge-info"
          title="Fields are the building blocks of content types. They are the html form controls presented to the user in the UI."
        >Info</a></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Text Box</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Text Area</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Number</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Password</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Checkbox</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Select Checkboxes</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Select List</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Radio</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Button</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Email</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Url</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Phone Number</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Tags</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Address</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Date/Time</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Day</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Time</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Currency</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Survey</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Signature</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">HTML Element</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Content</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Columns</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Field Set</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Panel</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Table</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Tabs</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Well</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Hidden</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Container</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Data Map</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Data Grid</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Edit Grid</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Tree</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">reCaptcha</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Resource</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">File</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Nested Form</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Custom</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
         <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Existing Resource Fields</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>

      </tr>

      <tr class="category">
        <th scope="row">Layout Management</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">UI Driven Layout Builder
          <a
          href="#"
          data-toggle="tooltip"
          class="badge badge-info"
          title="Allows the admin to build reusable page layouts visually by specifying sections, rows, columns, etc."
        >Info</a>
        </th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>

      <th scope="row">Code Driven Layout Builder
        <a
        href="#"
        data-toggle="tooltip"
        class="badge badge-info"
        title="Allows the developer to build reusable page layouts in code using VS Code or similar by specifying sections, rows, columns, etc."
      >Info</a>
      </th>
      <td><i class="fas fa-check text-success"></i></td>
      <td><i class="fas fa-check text-success"></i></td>
      <td><i class="fas fa-times text-danger"></i></td>
      <td><i class="fas fa-times text-danger"></i></td>
    </tr>

      <tr class="category">
        <th scope="row">Page Builder</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Manage Modules in Columns     
          <a
          href="#"
          data-toggle="tooltip"
          class="badge badge-info"
          title="Add, copy and drag and drop modules in the columns within a page."
        >Info</a></th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">CSS Management    
          <a
          href="#"
          data-toggle="tooltip"
          class="badge badge-info"
          title="Fine tune the look and feel of you page with custom CSS, managed from the UI"
        >Info</a></th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Style Management    
          <a
          href="#"
          data-toggle="tooltip"
          class="badge badge-info"
          title="Fine tune the look and feel of you page with custom CSS styles, managed in real time from the UI"
        >Info</a></th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>

      <tr>
      <th scope="row">Reuse All Content  
        <a
        href="#"
        data-toggle="tooltip"
        class="badge badge-info"
        title="All content, sections, modules, etc can be reused on other pages. IE: An admin can add a promo section above the footer on select site pages."
      >Info</a></th>
      <td><i class="fas fa-check text-success"></i></td>
      <td><i class="fas fa-times text-danger"></i></td>
      <td><i class="fas fa-times text-danger"></i></td>
      <td><i class="fas fa-times text-danger"></i></td>
    </tr>

    <tr>
      <th scope="row">Desktop / Tablet / Mobile Preview   
        <a
        href="#"
        data-toggle="tooltip"
        class="badge badge-info"
        title="Admins can preview their site across various common viewports."
      >Info</a></th>
      <td><i class="fas fa-check text-success"></i></td>
      <td><i class="fas fa-times text-danger"></i></td>
      <td><i class="fas fa-times text-danger"></i></td>
      <td><i class="fas fa-times text-danger"></i></td>
    </tr>
    <tr>
      <th scope="row">Page Caching  
        <a
        href="#"
        data-toggle="tooltip"
        class="badge badge-info"
        title="Optionally cache pages in production, enabling them to run lightning fast from bypassing the need to perform database operations."
      >Info</a></th>
      <td><i class="fas fa-check text-success"></i></td>
      <td><i class="fas fa-times text-danger"></i></td>
      <td><i class="fas fa-times text-danger"></i></td>
      <td><i class="fas fa-times text-danger"></i></td>
    </tr>


      <tr class="category">
        <th scope="row">Page Template Builder</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Manage Reusable Templates 
          <a
          href="#"
          data-toggle="tooltip"
          class="badge badge-info"
          title="If you have several pages that will all share the same side bar, an admin can create a template that can be used for all similar pages. Updating the template, automatically updates all pages using the template."
        >Info</a>
        </th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Template Zones 
          <a
          href="#"
          data-toggle="tooltip"
          class="badge badge-info"
          title="Each template has predefinded zones where custom content can be added."
        >Info</a>
        </th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>

      <tr class="category">
        <th scope="row">Module / Plugin Development</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Bolt-on Modules
          <a
          href="#"
          data-toggle="tooltip"
          class="badge badge-info"
          title="Developers can create custom modules that do not alter the core CMS or other modules."
        >Info</a>
        </th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Core Altering Modules
          <a
          href="#"
          data-toggle="tooltip"
          class="badge badge-info"
          title="Developers can create custom modules that alter the behavior and functionality of the core CMS."
        >Info</a>
        </th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Module Altering Modules
          <a
          href="#"
          data-toggle="tooltip"
          class="badge badge-info"
          title="Developers can create custom modules that alter the behavior and functionality of other modules."
        >Info</a>
        </th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>

      <tr>
        <th scope="row">Emails - Transactional
          <a
          href="#"
          data-toggle="tooltip"
          class="badge badge-info"
          title="Developers can send email communication for events such as email verification, forgot password, etc."
        >Info</a>
        </th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Emails - Newsletter
          <a
          href="#"
          data-toggle="tooltip"
          class="badge badge-info"
          title="Admin can send bulk emails to emails collected on the site: IE: newsletter subscribers."
        >Info</a>
        </th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>

      <tr class="category">
        <th scope="row">Module List</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Text
          <a
          href="#"
          data-toggle="tooltip"
          class="badge badge-info"
          title="Site admin can manage simple text on pages."
        >Info</a>
        </th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Alerts
          <a
          href="#"
          data-toggle="tooltip"
          class="badge badge-info"
          title="Site admin can manage alert notifications on pages."
        >Info</a>
        </th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Blog
          <a
          href="#"
          data-toggle="tooltip"
          class="badge badge-info"
          title="Site admins can manage a site blog."
        >Info</a>
        </th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Button
          <a
          href="#"
          data-toggle="tooltip"
          class="badge badge-info"
          title="Site admins can add buttons to pages that link to other pages, other modals, etc. "
        >Info</a>
        </th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Code Snippets
          <a
          href="#"
          data-toggle="tooltip"
          class="badge badge-info"
          title="Site admins can add code snippets to their pages."
        >Info</a>
        </th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Comments
          <a
          href="#"
          data-toggle="tooltip"
          class="badge badge-info"
          title="Site admins can allow site visitors to comments on pages, blog posts, etc"
        >Info</a>
        </th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Forms (Contact / Request a Quote / Newsletter Signup / etc)
          <a
          href="#"
          data-toggle="tooltip"
          class="badge badge-info"
          title="Site admins can add contact (or other types of forms) to site pages for site visitors to interact with."
        >Info</a>
        </th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">FAQ
          <a
          href="#"
          data-toggle="tooltip"
          class="badge badge-info"
          title="Site admins can add FAQ sections to the site pages."
        >Info</a>
        </th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Feature Box
          <a
          href="#"
          data-toggle="tooltip"
          class="badge badge-info"
          title="Site admins can add site content in the form of a feature box with title, body and icon."
        >Info</a>
        </th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Gallery
          <a
          href="#"
          data-toggle="tooltip"
          class="badge badge-info"
          title="Site admins can add photo and video galleries using libraries such as Lightbox or Fancybox."
        >Info</a>
        </th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Google Analytics
          <a
          href="#"
          data-toggle="tooltip"
          class="badge badge-info"
          title="Site admins can integrate Google Analytics into their site without any coding."
        >Info</a>
        </th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Header
          <a
          href="#"
          data-toggle="tooltip"
          class="badge badge-info"
          title="Site admins can create custom page headers for various site pages"
        >Info</a>
        </th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Html
          <a
          href="#"
          data-toggle="tooltip"
          class="badge badge-info"
          title="Site admins can use a WYSIWYG to add html content to pages."
        >Info</a>
        </th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Image
          <a
          href="#"
          data-toggle="tooltip"
          class="badge badge-info"
          title="Site admins can add images from a central media manger to pages."
        >Info</a>
        </th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Keep Alive
          <a
          href="#"
          data-toggle="tooltip"
          class="badge badge-info"
          title="Prevent your site from falling asleep due to inactivity."
        >Info</a>
        </th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Menu
          <a
          href="#"
          data-toggle="tooltip"
          class="badge badge-info"
          title="Site admins can add top nav, sidebar menus, accordion menus, tree menus, etc to various site pages."
        >Info</a>
        </th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Shortcodes
          <a
          href="#"
          data-toggle="tooltip"
          class="badge badge-info"
          title="Shortcodes allow site admins to fine tune and reuse the layout wrapper of modules added to pages."
        >Info</a>
        </th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Title
          <a
          href="#"
          data-toggle="tooltip"
          class="badge badge-info"
          title="Site admins can add title tags (h1, h2, h3, etc ) to site pages."
        >Info</a>
        </th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Video
          <a
          href="#"
          data-toggle="tooltip"
          class="badge badge-info"
          title="Site admins can add Youtube / Venmo / etc videos to site pages."
        >Info</a>
        </th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>


      <tr class="category">
        <th scope="row">Media Management</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Bulk Upload Images / Assets
          <a
          href="#"
          data-toggle="tooltip"
          class="badge badge-info"
          title="Site admins can bulk upload many images at a time."
        >Info</a>
        </th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Image Processing
          <a
          href="#"
          data-toggle="tooltip"
          class="badge badge-info"
          title="The CMS can generate and serve size-optimized versions of images."
        >Info</a>
        </th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">S3 / Cloudinary Integration
          <a
          href="#"
          data-toggle="tooltip"
          class="badge badge-info"
          title="Site admin can choose to store site assets such as images on the file system (and managed in source control) or upload all file to a cloud provider such as Amazon S3 or Cloudinary."
        >Info</a>
        </th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>


      <tr class="category">
        <th scope="row">Hooks</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Data Integration Points
          <a
          href="#"
          data-toggle="tooltip"
          class="badge badge-info"
          title="Developers can manipulate data before and after the data access methods have occurred in the page life cycle. IE: A developer 
          can alter the parameters passed into a method that gets data. The developer can also manipulate the results by, for example adding view model
          properties based on business rules."
        >Info</a>
        </th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Event Integration Points
          <a
          href="#"
          data-toggle="tooltip"
          class="badge badge-info"
          title="Developers can manipulate event properties before and after they have occurred in the page life cycle. The enables the developer to alter the behavior
          of the system without modifying the core CMS' core functionality. Very few CMS do this well."
        >Info</a>
        </th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>

      <tr class="category">
        <th scope="row">Form Builder</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Visual Form Builder 
          <a
          href="#"
          data-toggle="tooltip"
          class="badge badge-info"
          title="Site admins can generate site forms using a drag and drop form builder."
        >Info</a>
        </th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Data Sources
          <a
          href="#"
          data-toggle="tooltip"
          class="badge badge-info"
          title="Site admins leverage existing data sources, such as a list of services as the source form html controls such as a select list."
        >Info</a>
        </th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Form Validations
          <a
          href="#"
          data-toggle="tooltip"
          class="badge badge-info"
          title="Site admins leverage existing data s such as a select list."
        >Info</a>
        </th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>

      <tr class="category">
        <th scope="row">Headless</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">GraphQL</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>


      <tr class="category">
        <th scope="row">Security</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">User Management</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Role Management</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Session Management</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Passport Integration
          <a
          href="#"
          data-toggle="tooltip"
          class="badge badge-info"
          title="Allow users to login to your site with Facebook, Twitter, Google, etc"
        >Info</a>
        </th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>

      <tr class="category">
        <th scope="row">Themes</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Theme Management</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Theme Switching           
          <a
          href="#"
          data-toggle="tooltip"
          class="badge badge-info"
          title="Site admins can easily switch themes without degrading content positioning."
        >Info</a></th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Bootstrap 4 Support</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Bootstrap 5 Support</th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>


      <tr class="category">
        <th scope="row">Backup/Restore</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Backup Database
          <a
            href="#"
            data-toggle="tooltip"
            class="badge badge-info"
            title="Backs up and zips/tars the database records into a format that be be restored into the CMS."
          >Info</a>
        </th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Restore Database
          <a
            href="#"
            data-toggle="tooltip"
            class="badge badge-info"
            title="Imports zip/tar based backup and restores database to a prior snapshot."
          >Info</a>
        </th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Database-to-Database Migration
          <a
            href="#"
            data-toggle="tooltip"
            class="badge badge-info"
            title="Allows the developer to migrate from one database to another. IE from Postgres to MongoDb."
          >Info</a>
        </th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>
      <tr>
        <th scope="row">Remote Connection
          <a
            href="#"
            data-toggle="tooltip"
            class="badge badge-info"
            title="Allows the developer connect there local development environment to a production environment for troubleshooting."
          >Info</a>
        </th>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-check text-success"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
        <td><i class="fas fa-times text-danger"></i></td>
      </tr>

    </tbody>
  </table>
</div>