<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> Modules
      <a href="/admin/modules/add" class="btn btn-success float-right new-content-type">New Module</a>
    </div>
    <div class="card-body page-list">


      <table class="table table-responsive-sm table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th class="text-center">Enabled</th>
            <th class="text-center">Version</th>
            <th class="text-center">Status</th>
          </tr>
        </thead>
        <tbody>
          {{#each data}}
          <tr>
            <td><a href="/admin/modules/edit/{{ this.systemId }}">{{ this.title }}</a></td>
            <td class="text-center">
              {{#if this.enabled}}
              <i class="fa fa-check green"></i>
              {{/if}}
              {{#unless this.enabled}}
              <i class="fa fa-times red"></i>
              {{/unless}}
            </td>
            <td class="text-center">{{ this.version}}</td>
            <td class="text-center">
              <a class="btn btn-sm btn-primary rmargin" href="/admin/modules/edit/{{ this.systemId }}">Edit</a>

 <a tabindex="0" class="btn btn-sm btn-danger" role="button" data-html="true" data-toggle="popover"
                data-trigger="focus" aria-label="Delete {{ this.title }}"
                title="Delete <b>{{ this.title }}</b> Forever?" data-content="<a href='/module/{{ this.systemId }}/{{../data.sessionID}}'
   class='btn btn-sm btn-danger rmargin custom-delete'>Confirm Delete</a>
">Delete</a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>


    </div>
  </div>
</div>
