<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> Content
      <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#newContentModal">
        New Content
      </button>
        <a class="btn btn-primary float-right mx-2" href="/admin/content-all">Show All</a>

    </div>
    <div class="card-body page-list">
      <table class="table table-responsive-sm table-striped" id="admin-content">
        <thead>
          <tr>
            <th>Title</th>
            <th>Type</th>
            <th>Created</th>
            <th class='text-right'>Actions</th>
          </tr>
        </thead>
        <tbody>
          {{#each data}}
          <tr>
            <td><a href="/admin/content/edit/{{ this.contentTypeId }}/{{ this.id }}">{{ this.data.title }}</a>
            </td>
            <td>{{ this.contentTypeId }}</td>
            <td>{{ this.updatedOnFormatted }}</td>
            <td class='text-right'>
                <a class="btn btn-success btn-sm" target="_blank" href="{{ this.data.url }}"><i class="fa fa-external-link"></i></a>
              <a href="/admin/content/edit/{{ this.contentTypeId }}/{{ this.id }}"
                class="btn btn-sm btn-primary rmargin">Edit</a>

              <a tabindex="0" class="btn btn-sm btn-danger" role="button" data-html="true" data-toggle="popover"
                data-trigger="focus" aria-label="Delete {{ this.data.title }}" title="Delete <b>{{ this.data.title }}</b> Forever?" 
                data-content="<a href='/content/{{ this.id }}/{{../data.sessionID}}'
   class='btn btn-sm btn-danger rmargin custom-delete'>Confirm Delete</a>
">Delete</a>

              {{!-- <!-- <a href="{{ content.url }}" target="_blank" class="btn btn-sm btn-success rmargin">View</a> -->
                <a class="btn btn-sm btn-warning rmargin" *ngIf="content.data.contentType==='page'" [routerLink]="['/page-builder', content.id]">Page Builder</a>


                <ng-template #popTitle>Delete <b>{{ content.name }}</b>?</ng-template>
                <ng-template #popContent><button class="btn btn-sm btn-danger" (click)="deleteContent(content.id)">Confirm Delete</button></ng-template>
                <button class="btn btn-sm btn-danger" placement="top"
                [ngbPopover]="popContent" [popoverTitle]="popTitle">Delete</button> --}}
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>





<!-- Section Editor Modal -->
<div class="modal fade" id="newContentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Content</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Common Content Types</h3>

        <a class='btn btn-success' data-content-type="page" href="/admin/content/edit/page">Page</a>

          <a class='btn btn-success' data-content-type="blog" href="/admin/content/edit/blog">Blog</a>

            <hr>
        <h5>Other Content Types (Typically added in the front end)</h5>
        {{#each data.contentTypes}}
        <a class='btn btn-primary' data-content-type="{{ this.systemId }}" href="/admin/content/edit/{{ this.systemId }}">
          {{ this.title }}</a>
        {{/each}}
      </div>
    </div>
  </div>
</div>