{{log this}}
<div class="jumbotron jumbotron-fluid" style="background-color:{{this.group.data.bannerBackgroundColor}};
background-image:url('{{this.group.data.banner.src}}')">
  <div class="container">
    <h1 class="display-4">{{this.group.data.title}}</h1>
    <p class="lead">{{this.group.data.bio}}</p>
    <img height="200px" src="{{this.group.data.icon.src}}">
  </div>
</div>
