<!-- 
<div class="row">
  {{#if hasNFTInGroup }}
    {{#each mynfts}}
      <div class="col-md-3 text-{{../data.textJustification}}">
        <img class="img-fluid" src="{{this.imageUrl}}" />
        <h3>{{this.data.name}}</h3>
        {{{this.data.descriptionPreview}}}
      </div>
    {{/each}}
  {{else}}
    <h1>Oops...</h1>
    <p>It looks like you don’t own any Draftly or Clubhouse NFTs. Click below to buy an NFT + join the clubhouse.</p>
    <h3>See our lates NFT drop</h3>
  {{/if}}
</div>
-->

 <div class="row g-3">
  {{#if mynfts }}
    {{#each mynfts}}
      <div class="col-md-3 text-{{../data.textJustification}}">
        <div class="card bg-dark h-100">
          <img src="https://draftly.s3.amazonaws.com/spinner.mov.gif" data-src="{{this.imageUrl}}" class="card-img-top my-nft" />
          <div class="card-body">
            <p class="card-text">
              <h3>{{this.data.name}}</h3><br>
              {{{this.data.descriptionPreview}}}
            </p>
          </div>
        </div>
      </div>
    {{/each}}
  {{else}}
    <div class="d-block">
      <h1>Oops...</h1>
      <p>It looks like you don’t own any Draftly or Clubhouse NFTs. Click below to buy an NFT + join the clubhouse.</p>
      <h3>See our lates NFT drop</h3>
    </div>
  {{/if}}
</div>
 
