<!-- 
{{#each list}}
<div class="row">
  <div class="col{{../data.bootstrapColumnClass}} text-{{../data.textJustification}}">
    <h3>{{this.data.title}}                  
      <a class="edit-link" target="_blank" href="/admin/content/edit/fe/{{this.id}}"><i class="bi bi-pencil"></i>
      </a>
    </h3>
    {{{this.data.body}}}
  </div>
</div>
{{/each}}

{{#if data.seeMoreLinkCopy}}
<div class="row text-center">
  <div class="col">
   <a href=""#">{{data.seeMoreLinkCopy}}</a>
  </div>
</div>
{{/if}}
 -->


<div class="container">
  <span class="hr-line"></span>
</div>

<div class="announcements-area">
  <div class="container">
    <div class="announcements-title">
      <h2>Announcements</h2>
      <a href="#" onclick="return openFormInModal('create', 'announcement')" >Post an Announcements</a>
    </div>

    {{#each list}}
    <div class="announcement-item">
      <div class="media">
        <img src="/assets/uploads/bell.png" class="img-fluid" alt="">
        <div class="media-body ml-4">
          <div class="d-flex align-items-center mb-3">
            <h2>{{this.data.title}}</h2>
            <div class="ml-auto">
              <a target="_blank" href="/admin/content/edit/fe/{{this.id}}"><img src="/assets/uploads/edit.png" alt=""></a> &nbsp; 
              <a href="#"><img src="/assets/uploads/delete.png" alt=""></a>					
            </div>
          </div>
          <p>{{{this.data.body}}}</p>
          <p><a href="#">Read More</a></p>
          <div class="d-flex align-items-center pt-3">
            <div>
              <img src="/assets/uploads/thumbsup.png" alt=""> 20 &nbsp; &nbsp; 
              <img src="/assets/uploads/thumbsdown.png" alt=""> 5
            </div>								
            <div class="ml-auto">
              <span>Today 3:00PM</span>
            </div>
          </div>
        </div>
      </div>					
    </div>
    {{/each}}
    
    {{#if data.seeMoreLinkCopy}}
    <div class="see-more text-center">
       <a href=""#">{{data.seeMoreLinkCopy}}</a>
    </div>
    {{/if}}
			
  </div>
</div>	


