{{#each list}}
<div class="row">
  <div class="col{{../data.bootstrapColumnClass}} text-{{../data.textJustification}}">
    <h3>{{this.data.title}}                  
      <a class="edit-link" target="_blank" href="/admin/content/edit/fe/{{this.id}}"><i class="bi bi-pencil"></i>
      </a>
    </h3>
    {{{this.data.body}}}
  </div>
</div>
{{/each}}

{{#if data.seeMoreLinkCopy}}
<div class="row text-center">
  <div class="col">
   <a href=""#">{{data.seeMoreLinkCopy}}</a>
  </div>
</div>
{{/if}}