<div class="container gx-0">
  <div class="row gap-y">

    {{#each data.list}}
      <div class="col-md-6">
        


        <div class="card card-blog shadow-box shadow-hover border-0">
          <a href="{{this.data.url}}"><img
              class="card-img-top img-responsive"
              src="{{this.data.image}}"
              alt=""
            /></a>
          <div class="card-body">
            <div
              class="d-flex align-items-center justify-content-between"
            >
            </div>
            <hr />
            <p class="card-title regular">
              <a href="{{this.data.url}}">{{this.data.title}}</a>
            </p>
            <p class="card-text text-secondary">
              {{this.data.body}}
            </p>
            <p class="bold small text-secondary my-0">
              <small>{{this.data.createdOnFormatted}}</small>
            </p>
          </div>
        </div>



      </div>
    {{/each}}

  </div>
</div>
