{{!-- {{log this}} --}}
{{#each this.list}}

<div class="card mb-4">
  <a href="{{this.data.url}}"><img class="card-img-top" src="{{this.data.image}}" alt="{{this.data.title}}"></a>
  <div class="card-body">
    <h2 class="card-title">{{this.data.title}}</h2>
    <p class="card-text">{{this.data.body}}</p>
    <a href="{{this.data.url}}" class="btn btn-primary">Read More →</a>
  </div>
  <div class="card-footer text-muted">
    {{this.data.createdOnFormatted}} by
    <a href="#">Lane C., SonicJs Founder</a>
  </div>
</div>

{{/each}}
