<div
  class="panel-group accordion-menu-module"
  id="accordionMenu"
  role="tablist"
  aria-multiselectable="true"
>
  {{#each data.menuData }}

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a
          role="button"
          data-toggle="collapse"
          data-parent="#accordionMenu"
          href="#{{this.id}}"
          aria-expanded="false"
          aria-controls="collapseOne"
        >
          {{ this.text }}
        </a>
      </h4>
    </div>
    <div
      id="{{this.id}}"
      class="panel-collapse collapse in"
      role="tabpanel"
      aria-labelledby="headingOne"
    >
      <div class="panel-body">
        <ul class="nav">
          {{#each this.children}}
          <li><a href="{{this.data.url}}">{{this.text}}</a></li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>

  {{/each}}
</div>
