{{!-- <!doctype html>
<html lang="en" class="{{data.pageCssClass}}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ data.metaDescription }}">
  <meta name="generator" content="SonicJs">
  <meta name="version" content="{{ data.appVersion }}">
  <link rel="icon" href="/img/favicon.ico">

  <title>{{data.metaTitle}}</title>

  <!-- Web Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{data.siteSettings.fontHeaders}}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{data.siteSettings.fontDefault}}">
  <style>
    body,
    p {
      font-family: '{{data.siteSettings.fontDefault}}',
      serif !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: '{{data.siteSettings.fontHeaders}}',
      serif;
    }
  </style>

  {{{data.cssLinks}}}

  {{#if data.showPageBuilder}}
  <link href="/page-builder/css/page-builder.css" rel="stylesheet">
  {{/if}}

  <button class="sidebar-expander" id="sidebar-expander" type="button"></button>

  <base href="/">

  {{{ data.headerJs }}}

</head>

<body>
  <input type="hidden" name="page-id" id="page-id" value="{{data.id}}">

  {{> menu level='1'}}

  {{> menu level='2'}}

  <main role="main">

    {{#if data.showPageBuilder}}
    {{> page-builder }}
    {{/if}}

    {{{body}}}

  </main><!-- /.container -->

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col footer-top-margin">
          <p>Powered by <a href="https://sonicjs.com">SonicJs Node CMS</a></p>
        </div>
        <div class="col social text-center">
          <ul>
            <li><a target="_blank" href="https://github.com/lane711/sonicjs"><i class="fa fa-github"></i></a></li>
            <li><a target="_blank" href="https://www.youtube.com/channel/UCm_B7S9smSvtrv0nAt2vrqw"><i
                  class="fa fa-youtube"></i></a></li>
            <li><a target="_blank" href="https://www.facebook.com/SonicJs-Nodejs-CMS-113052493788728"><i
                  class="fa fa-facebook"></i></a></li>
            <li><a target="_blank" href="https://twitter.com/SonicJs1"><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>
        <div class="col text-right footer-top-margin">
          <p>© 2020, SonicJS. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>

  {{{data.jsLinks}}}

  {{> photoswipe }}

</body>

</html> --}}

{{!-- ================== --}}

<!doctype html>
<html lang="en" class="h-100" class="{{data.pageCssClass}}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="SonicJs">
  <title>{{data.metaTitle}}</title>

  <link rel="canonical" href="/">

  <!-- Web Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{data.siteSettings.fontHeaders}}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{data.siteSettings.fontDefault}}">
  <style>
    body,
    p {
      font-family: '{{data.siteSettings.fontDefault}}',
      serif !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: '{{data.siteSettings.fontHeaders}}',
      serif;
    }
  </style>

  {{{data.cssLinks}}}

  {{#if data.showPageBuilder}}
  <link href="/page-builder/css/page-builder.css" rel="stylesheet">
  {{/if}}

  <!-- Favicons -->
  {{!-- <link rel="apple-touch-icon" href="/docs/4.5/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
  <link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
  <link rel="manifest" href="/docs/4.5/assets/img/favicons/manifest.json">
  <link rel="mask-icon" href="/docs/4.5/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
  <link rel="icon" href="/docs/4.5/assets/img/favicons/favicon.ico">
  <meta name="msapplication-config" content="/docs/4.5/assets/img/favicons/browserconfig.xml">
  <meta name="theme-color" content="#563d7c"> --}}


  <button class="sidebar-expander" id="sidebar-expander" type="button"></button>

  <base href="/">

  {{{ data.headerJs }}}

</head>

<body class="d-flex flex-column h-100">
  <input type="hidden" name="page-id" id="page-id" value="{{data.id}}">

  {{> menu level='1'}}


  <main role="main">

    {{#if data.showPageBuilder}}
    {{> page-builder }}
    {{/if}}

    {{{body}}}

  </main>

  <footer class="footer mt-auto py-3">
    <div class="container">
      <span class="text-muted">Place sticky footer content here.</span>
    </div>
  </footer>

  {{{data.jsLinks}}}

</body>

</html>
