---
const { field } = Astro.props;
---

{
  field.type === "textArea" && (
    <div class="col-span-4">
      <label
        for={field.key}
        class="block text-sm font-medium leading-6 text-white"
      >
        {field.key}
      </label>
      <div class="mt-2">
        <textarea
          id={field.key}
          name={field.key}
          rows="3"
          class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6"
        >{field.value}</textarea>
      </div>
      <p class="mt-3 text-sm leading-6 text-gray-400">
        Write a few sentences about yourself.
      </p>
    </div>
  )
}
