---
const {field} = Astro.props;
---

{field.type === "textField" && 
<div class="sm:col-span-4">
    <label
      for={field.key}
      class="block text-sm font-medium leading-6 text-white"
    >
      {field.key}
    </label>
    <div class="mt-2">
      <div class="flex rounded-md bg-white/5 ring-1 ring-inset ring-white/10 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
        <input
          type="text"
          name={field.key}
          id={field.key}
          value={field.value}
          class="flex-1 border-0 bg-transparent py-1.5 pl-2 text-white focus:ring-0 sm:text-sm sm:leading-6"
          placeholder=""
        />
      </div>
    </div>
  </div>
  }